h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#start-game-btn {

}

#board {
    width: 600px;
    overflow: auto;
    padding: 10px;
}

#board button {
    border-color: #EBEBEB;
}

#board div {
    width: 500px;
    clear: both;

}

#board button {
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 50px;
    margin: 8px;
    float: left;
}