body {
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    background: darkslategray;
    overflow: hidden;
}

body *:focus {
    outline-width: 0;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

}

#player-one {
    color: #ffcc5c;
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: bold;
}

#player-two {
    color: #ff6f69;
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: bold;
}

#mention {
    color: white;
    font-size: 16px;
    margin: 15px;
}

#start-game-btn {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    font-size: 24px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    background: #00D68F;
    color: #fff;
    font-weight: bold;
}

#board {
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}


#board div:nth-child(2) {
    border-width: 5px 0;
    border-color: #fff;
    border-style: solid;
}

#board button {
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 50px;
    float: left;
    background: none;
    border: none;
    cursor: pointer;
}

#board button:nth-child(2) {
    border-width: 0 5px;
    border-color: #fff;
    border-style: solid;
}

#result {
    font-size: 50px;
    text-transform: uppercase;
    text-blink: 1;
    text-decoration: blink;
    color: white;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
